<br>
<br>
<div class="row" id="infopro">

  <div class="col-xs-12 col-sm-5 col-md-5">
    Usuario:
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5">
    Fecha:
  </div>

  <div class="col-xs-12 col-sm-5 col-md-5">

    <div class="form-horizontal">
      <div class="form-group">
        <label for="sel1">Proyecto:</label>

      </div>
    </div>

  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3"></div>
  <div  class="col-xs-12 col-sm-3 col-md-3" id="infopro" routerLink="/nuevaevaluacion">
    Ceremonias
    <i class="arrow arrow-right"></i>

  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">

    <div style="width: 300px; margin: 10px auto">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 60%">
          <span class="title">60%</span> 
        </div>
        
      </div>
    
    </div>

  </div>
  <div class="col-xs-12 col-sm-3 col-md-3"><img src="assets/imagenes/green_no.png" alt="ok"> </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3"></div>
  <div class="col-xs-12 col-sm-3 col-md-3" id="infopro" routerLink="/nuevaevaluacion">
    Roles
    <i class="arrow arrow-right"></i>

  </div>

  <div class="col-xs-12 col-sm-3 col-md-3">
    <div style="width: 300px; margin: 10px auto">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
          <span class="title">100%</span>
        </div>
      </div>
    </div>
 
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3"><img src="assets/imagenes/green_si.png" alt="ok"> </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3"></div>
  <div class="col-xs-12 col-sm-3 col-md-3" id="infopro" routerLink="/nuevaevaluacion">
    Artefactos
    <i class="arrow arrow-right"></i>

  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">

    <div style="width: 300px; margin: 10px auto">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="max-width: 30%">
          <span class="title">30%</span>
        </div>
      </div>
    </div>


  </div>
  <div class="col-xs-12 col-sm-3 col-md-3"><img src="assets/imagenes/green_no.png" alt="ok"> </div>
</div>