<br>
<br>
<div class="row" id="infopro">

  <div class="col-xs-12 col-sm-5 col-md-5">
    Usuario:
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5">
    Fecha:
  </div>

  <div class="col-xs-12 col-sm-5 col-md-5">

    <div class="form-horizontal">
      <div class="form-group">
        <label for="sel1">Proyecto:</label>

      </div>
    </div>

  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3"></div>
  <div  class="col-xs-12 col-sm-3 col-md-3" id="infopro" routerLink="/nuevaevaluacion">
    Ceremonias
    <i class="arrow arrow-right"></i>

  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">

    <div style="width: 300px; margin: 10px auto">
     
          <div *ngIf="preguntasRespondidasCeremonias==numeroPreguntasCeremonias"><ngb-progressbar showValue="true" type="success" [value]="trun"></ngb-progressbar></div>
          <div *ngIf="preguntasRespondidasCeremonias!=numeroPreguntasCeremonias"><ngb-progressbar showValue="true" type="warning" [value]="trun"></ngb-progressbar></div>
         
          <span class="title"> {{preguntasRespondidasCeremonias}} de {{numeroPreguntasCeremonias}} </span> 
     
    </div>
   
  </div> 
  <div  class="col-xs-12 col-sm-3 col-md-3">
    <img *ngIf="preguntasRespondidasCeremonias!=numeroPreguntasCeremonias && preguntasRespondidasCeremonias>0" src="assets/imagenes/green_no.png" alt="ok" >
    <img *ngIf="preguntasRespondidasCeremonias==numeroPreguntasCeremonias" src="assets/imagenes/green_si.png" alt="ok"> 
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3"></div>
  <div class="col-xs-12 col-sm-3 col-md-3" id="infopro" routerLink="/nuevaevaluacion">
    Roles
    <i class="arrow arrow-right"></i>

  </div>

  <div class="col-xs-12 col-sm-3 col-md-3">
    <div style="width: 300px; margin: 10px auto">
        <div *ngIf="preguntasRespondidasRoles==numeroPreguntasRoles"><ngb-progressbar showValue="true" type="success" [value]="trun2"></ngb-progressbar></div>
        <div *ngIf="preguntasRespondidasRoles!=numeroPreguntasRoles"><ngb-progressbar showValue="true" type="warning" [value]="trun2"></ngb-progressbar></div>
        <span class="title"> {{preguntasRespondidasRoles}} de {{numeroPreguntasRoles}}</span> 
           
     
      
    </div>
 
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">
      <img *ngIf="preguntasRespondidasRoles!=numeroPreguntasRoles && preguntasRespondidasRoles>0" src="assets/imagenes/green_no.png" alt="ok" >
      <img *ngIf="preguntasRespondidasRoles==numeroPreguntasRoles" src="assets/imagenes/green_si.png" alt="ok"> 
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3"></div>
  <div class="col-xs-12 col-sm-3 col-md-3" id="infopro" routerLink="/nuevaevaluacion">
    Artefactos
    <i class="arrow arrow-right"></i>

  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">

    <div style="width: 300px; margin: 10px auto">
      
        <div *ngIf="preguntasRespondidasArtefactos==numeroPreguntasArtefactos"><ngb-progressbar showValue="true" type="success" [value]="trun3"></ngb-progressbar></div>
        <div *ngIf="preguntasRespondidasArtefactos!=numeroPreguntasArtefactos"><ngb-progressbar showValue="true" type="warning" [value]="trun3"></ngb-progressbar></div>
      <span class="title"> {{preguntasRespondidasArtefactos}} de {{numeroPreguntasArtefactos}}</span> 
          
     
    </div>


  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">
      <img *ngIf="preguntasRespondidasArtefactos!=numeroPreguntasArtefactos && preguntasRespondidasArtefactos>0" src="assets/imagenes/green_no.png" alt="ok" >
      <img *ngIf="preguntasRespondidasArtefactos==numeroPreguntasArtefactos" src="assets/imagenes/green_si.png" alt="ok">
  </div>
</div>