<br>
<br>
<div class="row" id="infopro">

  <div class="col-xs-12 col-sm-5 col-md-5">
    Usuario:
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5">
    Fecha:
  </div>

  <div class="col-xs-12 col-sm-5 col-md-5">

    <div class="form-horizontal">
      <div class="form-group">
        <label for="sel1">Proyecto:</label>

      </div>
    </div>

  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-3"></div>
  <div class="col-xs-12 col-sm-8 col-md-6">
    <h2>Evaluaciones anteriores</h2>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-3"></div>
</div>

<div class="container">

  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">       
        <div class="pull-right">
          <button class="btn btn-default btn-xs btn-filter">Filtrados</button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr class="filters">
            <th>
              <input type="text" class="form-control" placeholder="Fecha" disabled>
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Proyecto" disabled>
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Usuario" disabled>
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Estado" disabled>
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Puntuación" disabled>
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Informe" disabled>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>22/03/2018</td>
            <td>TESCO</td>
            <td>JUAN</td>
            <td>COMPLETADO</td>
            <td>55/100</td>
            <td>VER PDF</td>
          </tr>
          <tr>
              <td>23/03/2018</td>
              <td>BCA</td>
              <td>PEPE</td>
              <td>NO COMPLETADO</td>
              <td>-</td>
              <td>-</td>
            </tr>
      
        </tbody>
      </table>
    </div>
  </div>
</div>