<div class="container">
  <app-breadcrumb></app-breadcrumb>
  <div class="ng-card-box p-2 pt-4 br-2 mat-elevation-z5">
    <div class="row">
      <div class="col ml-5 mt-4">
        <h3>{{ 'PENDING_EVALUATION.PENDING_EVALUATION' | translate }}</h3>
      </div>
    </div>

    <div *ngIf="!listaDeEvaluacionesPaginada" class="loading mt-4">
      <app-loading></app-loading>
    </div>
    <div id="sortedtable" *ngIf="MostrarTabla">
      <pendingevaluation-table [listaDeEvaluaciones]="listaDeEvaluacionesPaginada"
       (reloadData)="reloadDataInput($event)">
        {{ 'PENDING_EVALUATION.LOADING' | translate }}
      </pendingevaluation-table>
    </div>
  </div>
</div>

  <ng-template #notasEv let-cl="close" let-di="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'PENDING_EVALUATION.MODAL1_TITLE' | translate }}</h5> <button type="button"
          class="close" (click)="cl('Cerrar')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" maxlength="4000" placeholder="Inserte aquí el texto" rows="10"
          [(ngModel)]="textoModal"></textarea>
      </div>
      <div class="modal-footer">
        <p id="numletras" class="mr-2 mt-2">{{textoModal.length}}/4000</p>
        <button type="button" class="btn btn-success cambiar"
          (click)="di('Guardar')">{{ 'PENDING_EVALUATION.MODAL1_BTN_SAVE' | translate }}</button>
        <button type="button" class="btn btn-secondary"
          (click)="cl('Cerrar')">{{ 'PENDING_EVALUATION.MODAL1_BTN_CANCEL' | translate }}</button>
      </div>
    </div>
  </ng-template>

  <ng-template #notasOb let-cl="close" let-di="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'PENDING_EVALUATION.MODAL2_TITLE' | translate }}</h5> <button type="button"
          class="close" (click)="cl('Cerrar')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" maxlength="4000" placeholder="Inserte aquí el texto" rows="10"
          [(ngModel)]="textoModal"></textarea>
      </div>
      <div class="modal-footer">
        <p id="numletras" class="mr-2 mt-2">{{textoModal.length}}/4000</p>
        <button type="button" class="btn btn-success cambiar"
          (click)="di('Guardar')">{{ 'PENDING_EVALUATION.MODAL2_BTN_SAVE' | translate }}</button>
        <button type="button" class="btn btn-secondary"
          (click)="cl('Cerrar')">{{ 'PENDING_EVALUATION.MODAL2_BTN_CANCEL' | translate }}</button>
      </div>
    </div>
  </ng-template>