<div *ngIf="Error =='400'" class="alert alert-danger alert-login" id="danger">
    <strong>{{ErrorMessage}}</strong>
  </div>
  
  <div class="ng-card-box p-5 br-2 mat-elevation-z5">
      <div class="row justify-content-center">
        <div class="col-12">
          <h3>Asignación de equipos</h3>
        </div>
  
        <div class="col-12">
          
        </div>
  
        <!--BUTTONS-->
        <div class="row btns col-12 justify-content-center">
          <div _ngcontent-blt-c4="" class="col-4">
            <div _ngcontent-blt-c4=""
              class="secondary-button border-curve bajarmedia eval-ant mat-elevation-z5 w-85 m-auto" (click)="volver()">
              <a _ngcontent-blt-c4="">Volver</a>
            </div>
          </div>
        </div>
        
      </div>
  </div>
