img.excel {
    width: 60%;
    height: 60%;
}

button.transparente {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 60px;
}