<div class="row">
        <img class="corporation" src="https://pbs.twimg.com/profile_images/520160118508240896/6J-xEme4_400x400.png"/>
</div>
        <div class="row">
            <div class='col-md-2 col-lg-3 col-sm-1'></div>
            <div class='col-md-8 col-lg-6 col-sm-10'>
                <div id="login-modal" class="container">
                    <div class="card-container">
                        <div class="loginmodal-container">
                          <h1>Ingresa en tu cuenta</h1><br>
                            <form>
                                <input type="text" class="form-control" name="user" placeholder="Usuario"><br>
                                <input type="password" class="form-control" name="pass" placeholder="Contrase&ntilde;a"><br>
                                <input type="submit" name="login" class="btn btn-success" value="Acceder" routerLink="/home">
                            </form>
                              
                            <div class="login-help"><br>
                                <input type="checkbox" id="recuerdame"/> <strong>Recuerdame</strong> <br><br>
                                <a href="#">Registrate</a> - <a href="#">Contrase&ntilde;a olvidada</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-2 col-lg-3 col-sm-1'></div>
        </div>
