@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "theme.scss";

.transition-animation {
  -webkit-transition: all 0.8s ease !important;
  -moz-transition: all 0.8s ease !important;
  -ms-transition: all 0.8s ease !important;
  -o-transition: all 0.8s ease !important;
  transition: all 0.8s ease !important;
}

.corregir {
  margin-right: 5%;
}

.titulo {
  margin-left: 15%;
  width: 310px;
  height: 70px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
  background: linear-gradient(50deg, #99ad00, #99ad01);
  padding: 15px 20px;
  transition: all 0.5s ease;
  border-radius: 3px;
  cursor: pointer;

  a {
    width: 310px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.titulo:hover,
.tituloCont:hover {
  box-shadow: 0 20px 5px -10px rgba(#000, 0.4);
  transform: translateY(10px);
}

#infopro {
  border: 2px solid #99ad00;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: left;
  max-width: 1100px;
  border-radius: 5px;
}

.textstyle {
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .titulo {
    margin-left: 28%;
  }

  .bajarmedia {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 535px) {
  .titulo {
    margin-left: 28%;
  }
}

@media only screen and (max-width: 500px) {
  .titulo {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 450px) {
  .titulo {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 575px) {
  .tituloCont {
    max-width: 300px;
  }
}

.espacio {
  margin: 25px;
}

.tituloCont {
  min-width: 125px;
  height: 60px;
  font-size: 11pt;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
  background: #347ab7;
  padding: 10px 5px;
  transition: all 0.5s ease;
  border-radius: 3px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.tituloContDisable {
  min-width: 125px;
  height: 60px;
  font-size: 11pt;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
  background: rgba(52, 122, 183, 0.27);
  padding: 10px 5px;
  transition: all 0.5s ease;
  border-radius: 3px;
  cursor: not-allowed;

  a {
    text-decoration: none;
    color: #fff;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.backOfficeMenu {
  margin-left: 50px;
  //border-right: 1px solid #99AD01;

  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #99ad01;
    border-color: #99ad01;
  }
}

.list-group {
  &#list-tab {
    .list-group-item {
      border-radius: 0px !important;
    }
  }
}

.ng-card-box {
  // box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
  border-left: 4px solid mat-color($mat-everis, 50);
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-top: 1px solid #dadadac4;
  min-height: 300px;
  //@extend .transition-animation;
}

.card-disabled {
  pointer-events: none;
  opacity: 0.19;
  @extend .transition-animation;
}

.border-curve {
  border-radius: 0.25rem;
}

.icon-button {
  min-width: 15rem; //250px
  //width: 300px;
  height: 160px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: mat-color($mat-everis, 50);
  text-align: center;
  // letter-spacing: 1px;
  background: white;
  padding: 15px 10px;
  cursor: pointer;
  padding-top: 5px;
  border: 2px solid mat-color($mat-everis, 50);
  @extend .transition-animation;
  &:hover {
    color: white;
    background: mat-color($mat-everis, 50);
    @extend .transition-animation;
    .icon-button-img {
      filter: none;
      opacity: 0.6;
    }
  }

  &:focus {
    outline: none;
  }
}

.icon-button-img {
  opacity: 1;
  @extend .transition-animation;
  //margin-bottom: 5px;
  filter: invert(48%) sepia(36%) saturate(953%) hue-rotate(46deg) brightness(99%) contrast(85%);
}

.icon-users img {
  @extend .transition-animation;
  width: 120px;
  margin-bottom: 12px;
  margin-top: 10px;
}

.icon-teams img {
  @extend .transition-animation;
  width: 120px;
}

.icon-assesments img {
  @extend .transition-animation;
  width: 110px;
}

.icon-control-panel img {
  @extend .transition-animation;
  margin-bottom: 4px;
  margin-top: 6px;
  width: 120px;
}

.icon-btns {
  @extend .transition-animation;
  padding-top: 5rem;
  justify-content: center;
}

.active-row {
  @extend .transition-animation;
  padding-top: 0rem;
}

.active-buttons {
  @extend .transition-animation;
  min-width: 19rem;
  margin-left: 0px !important;
  margin-right: 0px !important;
  //margin-top: 2rem !important;
  height: 60px;
  display: flex;
  box-shadow: none;

  .icon-users img {
    @extend .transition-animation;
    width: 52px;
    margin: 0px;
    margin-top: 2px;
  }

  .icon-teams img {
    @extend .transition-animation;
    width: 52px;
    margin-top: -2px;
  }

  .icon-assesments img {
    @extend .transition-animation;
    width: 50px;
    margin-top: -1px;
  }

  .icon-control-panel img {
    @extend .transition-animation;
    margin-top: -1px;
    width: 56px;
  }

  .button-text {
    //@extend .transition-animation;
    padding-left: 60px;
    padding-top: 10px;
    position: absolute;
  }
}

.active-users,
.active-teams,
.active-assesments {
  color: white;
  background: mat-color($mat-everis, 50);
  @extend .transition-animation;
  .icon-button-img {
    filter: none;
    opacity: 0.6;
  }
}

.buttons-wrap {
  //@extend .transition-animation;
  border-radius: 0.25rem;
  transition: all 0.8s ease 0.8s;
  display: flex;
}

.buttons-wrap-disabled {
  //@extend .transition-animation;

  transition: all 0.1s ease;
}

.a-users {
  @extend .transition-animation;
  border-radius: 0.25rem 0 0 0.25rem;
}

.a-teams, .a-assesments{
  @extend .transition-animation;
  border-radius: 0;
}

.a-control-panel {
  @extend .transition-animation;
  border-radius: 0 0.25rem 0.25rem 0;
}

.notificacion {
  z-index: 1;
}
