<div class="ng-card-box p-5 br-2 mat-elevation-z5">
  <form [formGroup]="addTeamsForm" autocomplete="off" class="col-12">
    <div class="row justify-content-center">

      <div class="col-12">
        <h3 *ngIf="this.equipo == undefined">{{ 'ADD_TEAM.ADD_TEAM' | translate }}</h3>
        <h3 *ngIf="this.equipo != undefined">{{ 'ADD_TEAM.MODIFY_TEAM' | translate }}</h3>
      </div>
      <!-- 
    <!--COMBO PARA LAS OFICINAS-- >
    <div class="col-4">
      <mat-form-field class="col-12">
        <mat-select [compareWith]="compareOficina" [value]="oficina" formControlName="OficinaEntity">
          <mat-option *ngFor="let office of officeList" [value]="office" (click)="getAllUnidadesDe(office)">
            {{ office.oficinaNombre }}
          </mat-option>
        </mat-select>
        <mat-label>Oficina</mat-label>
        <mat-error *ngIf="hasError('OficinaEntity','required')">Debe seleccionar una Oficina</mat-error>
      </mat-form-field>
    </div>

    <!--COMBO PARA LAS UNIDADES-- >
    <div class="col-4">
      <mat-form-field class="col-12">
        <mat-select [compareWith]="compareUnidad" [value]="unidad" formControlName="UnidadEntity"
          [disabled]="(addTeamsForm.get('OficinaEntity').untouched || addTeamsForm.get('OficinaEntity').invalid) && (this.equipo == undefined)">
          <mat-option *ngFor="let unidad of unityList" [value]="unidad" (click)="getAllLineasDe(unidad)">
            {{ unidad.unidadNombre }}
          </mat-option>
        </mat-select>
        <mat-label>Unidad</mat-label>
        <mat-error *ngIf="hasError('UnidadEntity','required')">Debe seleccionar una Unidad</mat-error>
      </mat-form-field>
    </div>


    <!--COMBO PARA LAS LINEAS-- >
    <div class="col-4">
      <mat-form-field class="col-12">
        <mat-select [compareWith]="compareLinea" [value]="linea" formControlName="LineaEntity"
          [disabled]="(addTeamsForm.get('UnidadEntity').untouched || addTeamsForm.get('UnidadEntity').invalid) && (this.equipo == undefined)">
          <mat-option *ngFor="let linea of lineaList" [value]="linea">
            {{ linea.lineaNombre }}
          </mat-option>
        </mat-select>
        <mat-label>Proyecto</mat-label>
        <mat-error *ngIf="hasError('LineaEntity','required')">Debe seleccionar una Proyecto</mat-error>
      </mat-form-field>
    </div>
  -->
      <!--INPUT TEXT PARA LAS OFICINAS-->
      <div class="col-4">
        <mat-form-field class="col-12">
          <input matInput type="text" formControlName="Oficina" id="Oficina"
            placeholder="{{ 'ADD_TEAM.FORM_OFFICE' | translate }}" value="{{this.equipo?.oficina}}">
          <mat-error *ngIf="hasError('Oficina','required')">{{ 'ADD_TEAM.FORM_OFFICE_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <!--INPUT TEXT PARA LAS UNIDADES-->
      <div class="col-4">
        <mat-form-field class="col-12">
          <input matInput type="text" formControlName="Unidad" id="Unidad"
            placeholder="{{ 'ADD_TEAM.FORM_UNIT' | translate }}" value="{{this.equipo?.unidad}}">
          <mat-error *ngIf="hasError('Unidad','required')">{{ 'ADD_TEAM.FORM_UNIT_REQUIRED' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <!--INPUT TEXT PARA LOS PROYECTOS-->
      <div class="col-4">
        <mat-form-field class="col-12">
          <input matInput type="text" formControlName="Proyecto" id="Proyecto"
            placeholder="{{ 'ADD_TEAM.FORM_PROJECT' | translate }}" value={{this.equipo?.proyecto}}>
          <mat-error *ngIf="hasError('Proyecto','required')"> {{ 'ADD_TEAM.FORM_PROJECT_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
      </div>


      <!--INPUT TEXT PARA LOS EQUIPOS-->
      <div class="col-8">
        <mat-form-field class="col-12">
          <input matInput type="text" formControlName="Nombre" id="Nombre"
            placeholder="{{ 'ADD_TEAM.FORM_TEAM' | translate }}" value="{{this.equipo?.nombre}}">
          <mat-error *ngIf="hasError('Nombre','required')"> {{ 'ADD_TEAM.FORM_TEAM_REQUIRED' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <!--INPUT NUMBER PARA EL TAMAÑO-->
      <div class="col-4">
        <mat-form-field class="col-12">
          <input matInput type="text" formControlName="ProjectSize" id="ProjectSize"
            placeholder="{{ 'ADD_TEAM.FORM_SIZE' | translate }}" value="{{this.equipo?.projectSize}}">
          <mat-error *ngIf="hasError('ProjectSize','required')"> {{ 'ADD_TEAM.FORM_SIZE_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="hasError('ProjectSize','pattern')">{{ 'ADD_TEAM.FORM_SIZE_LENGHT' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <!--BUTTONS-->
      <div class="row btns col-12 justify-content-center">
        <div _ngcontent-blt-c4="" *ngIf="this.equipo == undefined" class="col-4">
          <div _ngcontent-blt-c4="" class="main-button border-curve bajarmedia eval-ant mat-elevation-z5 w-85 m-auto"
            [class.card-disabled]="addTeamsForm.invalid" (click)="altaEquipo()">
            <a _ngcontent-blt-c4="">{{ 'ADD_TEAM.BTN_SAVE' | translate }}</a>
          </div>
        </div>

        <div _ngcontent-blt-c4="" *ngIf="this.equipo != undefined" class="col-4">
          <div _ngcontent-blt-c4="" class="main-button border-curve bajarmedia eval-ant mat-elevation-z5 w-85 m-auto"
            [class.card-disabled]="addTeamsForm.invalid" (click)="updateEquipo()">
            <a _ngcontent-blt-c4="">{{ 'ADD_TEAM.BTN_SAVE' | translate }}</a>
          </div>
        </div>

        <div _ngcontent-blt-c4="" class="col-4">
          <div _ngcontent-blt-c4=""
            class="secondary-button border-curve bajarmedia eval-ant mat-elevation-z5 w-85 m-auto" (click)="volver()">
            <a _ngcontent-blt-c4="">{{ 'ADD_TEAM.BTN_BACK' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<br>