<div class="container">
  <app-breadcrumb></app-breadcrumb>
  <div class="ng-card-box p-2 pt-4 br-2 mat-elevation-z5">
    <div class="row">
        <div class="col-lg-8 ml-5 mb-3 mt-4">
          <h3>{{ 'PREVIOUS_EVALUATION.FINISHED_EVALUATIONS' | translate }}</h3>

        </div>
        <div class="col-sm-3 mt-4 mr-8 text-right">
          <button (click)="desGrafica()" class="transparente botonTabla" style="margin-right: 8px" [ngStyle]="{'opacity': setGreyOut('tabla')}">
            <img  src="assets/table.png" title="{{ 'PREVIOUS_EVALUATION.SHOW_TABLE' | translate }}" />
          </button>
          <button (click)="activaGrafica()" class="transparente botonGrafica"  [ngStyle]="{'opacity': setGreyOut('notable'), 'filter': setBrightness()}">
            <img src="assets/chart.png" title="{{'PREVIOUS_EVALUATION.SHOW_GRAPH' | translate }}" />
          </button>
        </div>       
    </div>

    <div *ngIf="!ListaDeEvaluacionesPaginada" class="loading mt-5">
      <app-loading></app-loading>
    </div>

    <div *ngIf="!finishMerge && uniqueSelectTeam" class="loading mt-5">
      <app-loading></app-loading>
    </div>

  <div id="sortedtable">
     <sorted-table *ngIf="ListaDeEvaluacionesPaginada && !activateChart" 
     [dataInput]="ListaDeEvaluacionesPaginada"
     (propagar)="procesaPropagar($event)">
      {{ 'PREVIOUS_EVALUATION.LOADING' | translate }}
    </sorted-table>
  </div>

  <div *ngIf="activateChart" class="container">
    <app-evaluationchart [result]="prevResult" [nombreProyecto]="ProjectSelectName" [nombreAssessment]="AssessmentSelectName"></app-evaluationchart>
   </div>
</div>



<!-- <tr *ngFor="let product of sectionsInfo$">
  <div>{{product | json}}</div>
</tr> *ngIf="activaGrafica"

     [recoverProject]="ProjectSelectName"
    [dataEvaluationNombres]="sectionsInfoNombres$"
    [dataEvaluationPuntuacion]="sectionsInfoPuntuacion$"
    [dataEvaluationProject]="sectionsInfoProject$"-->