<div class="row m-0 yes-no-width">
  <div class="col p-0">
    <button (click)="choose($event)" class="w-100 h-100 mat-elevation-z3 item-not-selected">1</button>
  </div>
  <div class="col p-0">
    <button (click)="choose($event)" class="w-100 h-100 mat-elevation-z3 item-not-selected">2</button>
  </div>
  <div class="col p-0">
    <button (click)="choose($event)" class="w-100 h-100 mat-elevation-z3 item-not-selected">3</button>
  </div>
  <div class="col p-0">
    <button (click)="choose($event)" class="w-100 h-100 mat-elevation-z3 item-not-selected">4</button>
  </div>
</div>


<!-- <div class="col p-0">
<button class="w-100 h-100 questions-no-btn mat-elevation-z3"
  [class.first-item]="preguntaDada.esHabilitante"
  [class.item-full-disabled]="!preguntaDada.esHabilitante && !checkHabilitante(preguntaDada)"
  [class.item-not-selected]="(preguntaDada.respuesta.estado == 1) || (preguntaDada.respuesta.estado == 0)"
  [class.item-disable-no-color]="!preguntaDada.esHabilitante && !checkHabilitante(preguntaDada)"
  (click)="AnswerQuestion(preguntaDada,i,2)">{{ 'NEW_EVALUATION.NO' | translate }}</button>
</div>
</div> -->