<!-- <div class="espacio">
  <div *ngIf="(ErrorMessage != null || ErrorMessage != undefined )" class="alert alert-danger" id="danger">
    <strong>{{ErrorMessage}}</strong>
  </div>
  <div *ngIf="anadeNota != null" class=" alert alert-success">
    {{anadeNota}}
  </div>
</div> -->
<div class="container">
  <app-breadcrumb></app-breadcrumb>
  <div class="ng-card-box p-2 p-2 pt-5 pb-5 br-2 mat-elevation-z5">
    <div class="row">
      <div class="col ml-5">
        <h3>{{ 'PDF_GENERATOR.ASSESSMENT_RESULTS' | translate }}
        </h3>
      </div>
    </div>

    <div *ngIf="!ListaSectionConAsignaciones" class="loading mt-4">
      <app-loading></app-loading>
    </div>

    <div class="circle-progress-container" *ngIf="ListaSectionConAsignaciones && ListaSectionConAsignaciones.length>0">
      <div *ngFor="let datos of ListaSectionConAsignaciones; let i = index" [attr.data-index]="i"
        [attr.id]="datos.nombre" [ngClass]="formatLevel(ListaSectionConAsignaciones[i])" class="circle-progress">

        <!-- Eliminamos el comentario con el número de notas -->
        <!-- <div *ngIf="datos.numNotas > 0" class="top-comment" data-html2canvas-ignore="true">
          <img class="" src="assets/comment_empty.png" title="{{ 'PDF_GENERATOR.NOTES' | translate }}" />
          <p>{{datos.numNotas}}</p>
        </div> -->
        
        <circle-progress [percent]="ListaSectionConAsignaciones[i].puntuacion"
          [subtitle]="[formatSubtitle(ListaSectionConAsignaciones[i])]" [subtitleFontSize]="14" [titleFontSize]="26"
          [unitsFontSize]="14" [radius]="74" [space]="-10" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
          [innerStrokeColor]="getLevelColorInner(ListaSectionConAsignaciones[i])"
          [outerStrokeColor]="getLevelColorOuter(ListaSectionConAsignaciones[i])" [outerStrokeLinecap]="'square'"
          [animation]="true" [renderOnClick]="false" [animationDuration]="300"></circle-progress>
        <div class="text-center circle-progress-title" data-html2canvas-ignore="true"><b>{{datos.nombre}}</b></div> <!--  [toFixed]="1"  -->
      </div>
      <div [ngClass]="formatTotalLevel(ListaSectionConAsignaciones)" [attr.id]="'total'"> <!--  [toFixed]="1"-->
        <circle-progress [percent]="getTotalPercent(ListaSectionConAsignaciones)" [showSubtitle]="false"
          [subtitle]="[formatTotalSubtitle(ListaSectionConAsignaciones)]" [subtitleFontSize]="14" [titleFontSize]="26"
          [unitsFontSize]="14" [radius]="74" [space]="-10" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
          [innerStrokeColor]="'#b8457a30'" [outerStrokeColor]="'#b8457a'" [outerStrokeLinecap]="'square'"
          [animation]="true" [renderOnClick]="false" [animationDuration]="300"></circle-progress>
        <div class="text-center circle-progress-title" data-html2canvas-ignore="true">
          <b>{{ 'PDF_GENERATOR.GLOBAL'| translate }}</b></div>
        <!-- <div class="text-center"><b>GLOBAL</b></div> -->
      </div>
    </div>

  </div>
  <mat-expansion-panel class="notas-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="col-10">{{ 'PDF_GENERATOR.GENERAL_INFORMATION'| translate }}</div>
        <div class="col-2">
          <img class="comment float-right"
            *ngIf="(Evaluacion.notasEvaluacion != null && Evaluacion.notasEvaluacion != '') || (Evaluacion.notasObjetivos != null && Evaluacion.notasObjetivos != '')"
            src="assets/comment_filled.png" title="{{ 'PDF_GENERATOR.ICONS_NOTES_FILLED'| translate }}" />
          <img class="comment float-right"
            *ngIf="(Evaluacion.notasEvaluacion == null || Evaluacion.notasEvaluacion == '') && (Evaluacion.notasObjetivos == null || Evaluacion.notasObjetivos == '')"
            src="assets/comment_empty.png" title="{{ 'PDF_GENERATOR.ICONS_NOTES_EMPTY'| translate }}" />
          <button class="transparente float-right" (click)="$event.stopPropagation();ExportToExcel();">
            <img class="comment" src="assets/excel.png" title="{{ 'PDF_GENERATOR.EXCEL_EXPORT' | translate }}" />
          </button>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="notas-row">
      <div class="notas-container">
        <mat-form-field class="comments-form-field" appearance="outline">
          <mat-label>{{ 'PDF_GENERATOR.EVALUATION_NOTES'| translate }}</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="6"
            cdkAutosizeMaxRows="6" placeholder="{{ 'PDF_GENERATOR.PLACEHOLDER_EVALUATION_NOTES'| translate }}"
            [(ngModel)]="Evaluacion.notasEvaluacion" [debounce]="1000" (ngModelChange)="saveNotas(Evaluacion)"
            [readonly]="UserRole != this.rol.Evaluador && UserRole != this.rol.Administrador">
        </textarea>
        </mat-form-field>
      </div>
      <div class="notas-container">
        <mat-form-field class="comments-form-field" appearance="outline">
          <mat-label>{{ 'PDF_GENERATOR.OBJETIVES_NOTES'| translate }}</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="6"
            cdkAutosizeMaxRows="6" placeholder="{{ 'PDF_GENERATOR.PLACEHOLDER_OBJETIVES_NOTES'| translate }}"
            [(ngModel)]="Evaluacion.notasObjetivos" [debounce]="1000" (ngModelChange)="saveNotas(Evaluacion)"
            [readonly]="UserRole != this.rol.Evaluador && UserRole != this.rol.Administrador">
            </textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>

  <div class="table-row" *ngIf="true">
    <app-section-results *ngIf="MostrarPreguntas && ListaDeRespuestas && ListaDeRespuestas.length > 0"
      [lSectionConAsignacionesDto]="ListaSectionConAsignaciones">
      {{ 'PDF_GENERATOR.LOADING'| translate }}
    </app-section-results>

    <comentarios-table *ngIf="MostrarComentarios && ListaDeAsignaciones" [dataInput]="ListaDeAsignaciones">
      {{ 'PDF_GENERATOR.LOADING'| translate }}
    </comentarios-table>
  </div>

  <div class="row">

    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3 mt-3 text-center"></div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 mt-3 text-center">



    </div>

    <div class="col-xs-0 col-sm-0 col-md-4 col-lg-3 mt-3 text-center"></div>



  </div>
</div>

<div id="my_mm" style="height:1mm;display:none"></div>

<ng-template #notasAdmin let-cl="close" let-di="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ 'PDF_GENERATOR.MODAL_TITLE'| translate }}</h5> <button type="button" class="close"
        (click)="cl('Cerrar')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <textarea class="form-control" maxlength="4000" placeholder="{{ 'PDF_GENERATOR.MODAL_PLACEHOLDER'| translate }}"
        rows="10" [(ngModel)]="textoModal"></textarea>
    </div>
    <div class="modal-footer">
      <p id="numletras" class="mr-2 mt-2">{{textoModal.length}}/4000</p>
      <button type="button" class="btn btn-success cambiar"
        (click)="di('Guardar')">{{ 'PDF_GENERATOR.MODAL_BTN_SAVE'| translate }}</button>
      <button type="button" class="btn btn-secondary"
        (click)="cl('Cerrar')">{{ 'PDF_GENERATOR.MODAL_BTN_CANCEL'| translate }}</button>
    </div>
  </div>
</ng-template>