<!-- <div class="espacio">
  <div *ngIf="(ErrorMessage != null || ErrorMessage != undefined )" class="alert alert-danger" id="danger">
    <strong>{{ErrorMessage}}</strong>
  </div>
  <div *ngIf="anadeNota != null" class=" alert alert-success">
    {{anadeNota}}
  </div>
</div> -->
<mat-sidenav-container>

    <mat-sidenav class="notas-panel"  #sidenav [mode]="'over'" [position]="'end'" fixedInViewport="true">
        <!-- <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->
        <div class="notas-row">
            <div class="notas-container">
            <mat-form-field class="comments-form-field" appearance="outline">
                <mat-label>Notas Evaluación</mat-label>
                <textarea matInput 
                cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="6"
              cdkAutosizeMaxRows="6"
              placeholder="Notas Evaluación" [(ngModel)]="Evaluacion.notasEvaluacion"
              [debounce]="1000" 
              (ngModelChange)="saveNotas(Evaluacion)"
              [readonly] = "UserRole != 'Evaluador' && UserRole != 'Administrador'"> 
              </textarea>
              </mat-form-field>
            </div>
            <div class="notas-container">
                <mat-form-field class="comments-form-field" appearance="outline">
                    <mat-label>Notas Objetivos</mat-label>
                    <textarea matInput 
                    cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="6"
                  cdkAutosizeMaxRows="6"
                  placeholder="Notas Objetivos" [(ngModel)]="Evaluacion.notasObjetivos"
                  [debounce]="1000" 
                  (ngModelChange)="saveNotas(Evaluacion)"
                  [readonly] = "UserRole != 'Evaluador' && UserRole != 'Administrador'"> 
                  </textarea>
                  </mat-form-field>
                </div>
        </div>
      </mat-sidenav>


<mat-sidenav-content>

<div class="comments-button mat-elevation-z5" (click)="sidenav.toggle()"> 
  <div class="icon-notas">
    <img *ngIf="(Evaluacion.notasEvaluacion != null && Evaluacion.notasEvaluacion != '') || (Evaluacion.notasObjetivos != null && Evaluacion.notasObjetivos != '')" src="assets/comment_filled_white.png" title="Notas"/>
    <img *ngIf="(Evaluacion.notasEvaluacion == null || Evaluacion.notasEvaluacion == '') && (Evaluacion.notasObjetivos == null || Evaluacion.notasObjetivos == '')" src="assets/comment_empty_white.png" title="Notas"/>
  </div>
  </div>

<div  class="container" >
    <app-breadcrumb></app-breadcrumb>
    <div class="ng-card-box p-2 p-2 pt-5 pb-5 br-2 mat-elevation-z5">
        <div class="row">
            <div class="col ml-5" style="display: inline-flex">
              <h3>Resultados de la evaluación</h3>
              <button class="transparente" (click)="ExportToExcel()">
                <img src="assets/excel.png" title="Exportar a Excel" />  
              </button>
            </div>
        </div>

        <div *ngIf="!ListaSectionConAsignaciones" class="loading mt-4">
            <app-loading ></app-loading>
        </div>

  <div class="circle-progress-container" *ngIf="ListaSectionConAsignaciones && ListaSectionConAsignaciones.length>0">
      <div *ngFor="let datos of ListaSectionConAsignaciones; let i = index" [attr.data-index]="i" [attr.id]="datos.nombre" (click)="selectedSection = datos; scroll(target);" [ngClass]="formatLevel(ListaSectionConAsignaciones[i])" class="circle-progress mat-elevation-z3 m-2">
        <div *ngIf="datos.numNotas > 0" class="top-comment" data-html2canvas-ignore="true">
          <img class="" src="assets/comment_empty.png" title="Notas"/>
          <p>{{datos.numNotas}}</p>
        </div>
        <circle-progress style="font-family: 'Raleway', sans-serif;"
  [percent]= "ListaSectionConAsignaciones[i].puntuacion"
  [toFixed] = "1"
  [subtitle] = "[formatSubtitle(ListaSectionConAsignaciones[i])]"
  [subtitleFontSize]= "14"
  [titleFontSize]= "26"
  [unitsFontSize]= "14"
  [radius]="74"
  [space] = "-10"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="10"

  [innerStrokeColor]="getLevelColorInner(ListaSectionConAsignaciones[i])"
  [outerStrokeColor]="getLevelColorOuter(ListaSectionConAsignaciones[i])"
  [outerStrokeLinecap]="'round'"
  [animation]="true"
  [renderOnClick]="false"
  [animationDuration]="300"
    ></circle-progress>
    <div class="text-center circle-progress-title" data-html2canvas-ignore="true"><b>{{datos.nombre}}</b></div>
    
  </div>
   <div  [ngClass]="formatTotalLevel(ListaSectionConAsignaciones)" [attr.id]="'total'" (click)="selectedSection = null" class="circle-progress mat-elevation-z3 m-2">
        <circle-progress
      [percent]= "getTotalPercent(ListaSectionConAsignaciones)"
      [toFixed] = "1"
      [showSubtitle] = "false"
      [subtitle] = "[formatTotalSubtitle(ListaSectionConAsignaciones)]"
      [subtitleFontSize]= "14"
      [titleFontSize]= "26"
      [unitsFontSize]= "14"
      [radius]="74"
      [space] = "-10"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [innerStrokeColor]="'#b8457a30'"
      [outerStrokeColor]="'#b8457a'"
      [outerStrokeLinecap]="'round'"
      [animation]="true"
      [renderOnClick]="false"
      [animationDuration]="300"
        ></circle-progress>
        <div class="text-center circle-progress-title" data-html2canvas-ignore="true"><b>VALORACIÓN GLOBAL</b></div>
        <!-- <div class="text-center"><b>GLOBAL</b></div> -->
  </div> 

  

</div>
<app-section-results *ngIf="selectedSection != null" [SectionConAsignacionesDto]="selectedSection" >
    loading
</app-section-results>
<div #target></div>
  </div>

  <!-- <mat-expansion-panel class="notas-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Notas
        <img class="comment" *ngIf="(Evaluacion.notasEvaluacion != null && Evaluacion.notasEvaluacion != '') || (Evaluacion.notasObjetivos != null && Evaluacion.notasObjetivos != '')" src="assets/comment_filled.png" title="Hay notas" />
        <img class="comment" *ngIf="(Evaluacion.notasEvaluacion == null || Evaluacion.notasEvaluacion == '') && (Evaluacion.notasObjetivos == null || Evaluacion.notasObjetivos == '')" src="assets/comment_empty.png" title="No hay notas" />
      </mat-panel-title>
    </mat-expansion-panel-header>
  <div class="notas-row">
      <div class="notas-container">
      <mat-form-field class="comments-form-field" appearance="outline">
          <mat-label>Notas Evaluación</mat-label>
          <textarea matInput 
          cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="6"
        cdkAutosizeMaxRows="6"
        placeholder="Notas Evaluación" [(ngModel)]="Evaluacion.notasEvaluacion"
        [debounce]="1000" 
        (ngModelChange)="saveNotas(Evaluacion)"
        [readonly] = "UserRole != 'Evaluador' && UserRole != 'Administrador'"> 
        </textarea>
        </mat-form-field>
      </div>
      <div class="notas-container">
          <mat-form-field class="comments-form-field" appearance="outline">
              <mat-label>Notas Objetivos</mat-label>
              <textarea matInput 
              cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="6"
            cdkAutosizeMaxRows="6"
            placeholder="Notas Objetivos" [(ngModel)]="Evaluacion.notasObjetivos"
            [debounce]="1000" 
            (ngModelChange)="saveNotas(Evaluacion)"
            [readonly] = "UserRole != 'Evaluador' && UserRole != 'Administrador'"> 
            </textarea>
            </mat-form-field>
          </div>
  </div>
  </mat-expansion-panel> -->
  
  <br>

</div>
</mat-sidenav-content>
</mat-sidenav-container>

<!-- <div id="my_mm" style="height:1mm;display:none"></div>

<ng-template #notasAdmin let-cl="close" let-di="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Notas Respuestas Administrador</h5> <button type="button" class="close" (click)="cl('Cerrar')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <textarea class="form-control" maxlength="4000" placeholder="Inserte aquí el texto" rows="10" [(ngModel)]="textoModal"></textarea>
    </div>
    <div class="modal-footer">
      <p id="numletras" class="mr-2 mt-2">{{textoModal.length}}/4000</p>
      <button type="button" class="btn btn-success cambiar" (click)="di('Guardar')">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="cl('Cerrar')">Cancelar</button>
    </div>
  </div>
</ng-template> -->
