<div *ngIf="Error =='400'" class="alert alert-danger alert-login" id="danger">
  <strong>{{ErrorMessage}}</strong>
</div>
<form [formGroup]="userForm" autocomplete="off" class="col-12">
  <div class="row justify-content-center">
    <div class="col-12">
      <h3>Alta de Usuarios</h3>
    </div>

    <div class="col-12">
      <mat-form-field class="col-6">
        <input matInput type="text" formControlName="Nombre" id="Nombre" placeholder="Usuario" value="">
        <mat-error *ngIf="hasError('Nombre','required')">El campo usuario no puede estar vacio. </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6">
        <input matInput type="password" formControlName="Password" id="Password" placeholder="Contraseña" value="">
        <mat-error *ngIf="hasError('Password','required')">El campo Contraseña no puede estar vacio. </mat-error>
      </mat-form-field>

      <mat-form-field class="col-8">
        <input matInput type="text" formControlName="NombreCompleto" id="NombreCompleto" placeholder="Nombre" value="">
        <mat-error *ngIf="hasError('NombreCompleto','required')">El campo nombre no puede estar vacio. </mat-error>
      </mat-form-field>

      <!--COMBO PARA LOS ROL-->
      <mat-form-field class="col-4">
        <mat-select [compareWith]="compareRol" [value]="rol" formControlName="Role">
          <mat-option *ngFor="let rol of rolList" [value]="rol">
            {{ rol.role }}
          </mat-option>
        </mat-select>
        <mat-label>Rol</mat-label>
      </mat-form-field>
    </div>

    <!--BUTTONS-->
    <div class="row btns col-12 justify-content-center">
      <div class="main-button border-curve mat-elevation-z5 new-eval w-85 m-auto col-3 btns"
        [class.card-disabled]="userForm.invalid" (click)="altaUsuario()">
        <a>GUARDAR</a>
      </div>
    </div>
  </div>
</form>