@import 'src/app/home/home.component.scss';
.btns{
    margin-top:30px;    
}  

.password-visible{
    margin-right: 1.3px ; ;
    color: #5c981b ; 
    padding-top: 30%; 
    font-size: 25px; 
    cursor: pointer ;
  }
  
  .password-invisible{
    color: #5c981b ; 
    padding-top: 30%; 
    font-size: 25px; 
    cursor: pointer ;
  }
  
  .password-locked{
    color: #999999;
    padding-top: 30%; 
    font-size: 25px; 
    pointer-events:none;
  }
.password-key{
    color: #5c981b; 
    padding-top: 40%;
    padding-left: 10px;
    font-size: 25px; 
    cursor: pointer;
}