<div *ngIf="Error =='400'" class="alert alert-danger alert-login" id="danger">
  <strong>{{ErrorMessage}}</strong>
</div>

<div class="ng-card-box p-5 br-2 mat-elevation-z5">
  <form [formGroup]="userForm" autocomplete="off" class="col-12">
    <div class="row justify-content-center">
      <div class="col-12">
        <h3 *ngIf="this.user == undefined">{{ 'ADD_UPDATE_USER.ADD_USERS' | translate }}</h3>
        <h3 *ngIf="this.user != undefined">{{ 'ADD_UPDATE_USER.MODIFY_USER' | translate }}</h3>
      </div>

      <div class="row">
        <mat-form-field class="col-6">
          <input matInput type="text" formControlName="Nombre" id="Nombre"
            placeholder="{{ 'ADD_UPDATE_USER.FORM_USER' | translate }}" value="{{this.user?.nombre}}">
          <mat-error *ngIf="hasError('Nombre','required')">{{ 'ADD_UPDATE_USER.FORM_USER_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="hasError('Nombre','maxlength')">{{ 'ADD_UPDATE_USER.FORM_USER_MAX_LENGTH' | translate }}
          </mat-error>
        </mat-form-field>


          <mat-form-field class="col-6">
            <input *ngIf="this.user!=null" #inputpass matInput type="password" formControlName="Password" id="Password"
              placeholder="{{ 'ADD_UPDATE_USER.FORM_PASSWORD' | translate }}" value="******" >
            <input *ngIf="this.user==null" #inputpass matInput type="password" formControlName="Password" id="Password"
              placeholder="{{ 'ADD_UPDATE_USER.FORM_PASSWORD' | translate }}" value="">
            <mat-error *ngIf="hasError('Password','required')">{{ 'ADD_UPDATE_USER.FORM_PASSWORD_REQUIRED' | translate }}
            </mat-error>
              <i matSuffix #eyepass [class.password-locked]="userForm.get('Password').value == null" [class.password-invisible]="userForm.get('Password').value != null" *ngIf="!visible" class="fas fa-eye-slash" (click)="visiblePassword()" title="{{'ADD_UPDATE_USER.SHOW_PASSWORD' | translate}}"></i>
              <i matSuffix #eyepass [class.password-locked]="userForm.get('Password').value == null" [class.password-visible]="userForm.get('Password').value != null" *ngIf="visible" class="fas fa-eye" (click)="visiblePassword()" title="{{'ADD_UPDATE_USER.HIDE_PASSWORD' | translate}}"></i>
              <i matSuffix class="fas fa-key password-key" title="{{'ADD_UPDATE_USER.AUTOGEN_PASSWORD' | translate}}" (click)="generatePassword()"></i>
          </mat-form-field>


          <!-- <div title="{{'ADD_UPDATE_USER.AUTOGEN_PASSWORD' | translate}}" class='col-1' (click)="generatePassword()">
            <i class="fas fa-key password-key"></i>
          </div> -->

       
          


        <mat-form-field class="col-6">
          <input matInput type="text" formControlName="NombreCompleto" id="NombreCompleto"
            placeholder="{{ 'ADD_UPDATE_USER.FORM_NAME' | translate }}" value="{{this.user?.nombreCompleto}}">
          <mat-error *ngIf="hasError('NombreCompleto','required')">
            {{ 'ADD_UPDATE_USER.FORM_FULL_NAME_REQUIRED' | translate }} </mat-error>
        </mat-form-field>

        <!--COMBO PARA LOS ROL-->
        <mat-form-field class="col-4">
          <mat-select [compareWith]="compareRol" [value]="rol" formControlName="Role">
            <mat-option *ngFor="let r of rolList" [value]="r">
              {{ r.role }}
            </mat-option>
          </mat-select>
          <mat-label>{{ 'ADD_UPDATE_USER.FORM_ROL' | translate }}</mat-label>
        </mat-form-field>

        <!--COMBO PARA LOS IDIOMAS-->
        <mat-form-field class="col-2">
          <mat-select [(value)]="idiomaFavorito" formControlName="IdiomaFavorito">
            <mat-option value="es">
              ES
            </mat-option>
            <mat-option value="en">
              EN
            </mat-option>
          </mat-select>
          <mat-label>{{ 'ADD_UPDATE_USER.FORM_IDIOMA' | translate }}</mat-label>
        </mat-form-field>
      </div>

      <!--BUTTONS-->
      <div class="row btns col-12 justify-content-center">
        <div _ngcontent-blt-c4="" *ngIf="this.user == undefined" class="col-4">
          <div _ngcontent-blt-c4="" class="main-button border-curve bajarmedia eval-ant mat-elevation-z5 w-85 m-auto"
            [class.card-disabled]="userForm.invalid" (click)="altaUsuario()">
            <a _ngcontent-blt-c4="">{{ 'ADD_UPDATE_USER.BTN_GUARDAR' | translate }}</a>
          </div>
        </div>

        <div _ngcontent-blt-c4="" *ngIf="this.user != undefined" class="col-4">
          <div _ngcontent-blt-c4="" class="main-button border-curve bajarmedia eval-ant mat-elevation-z5 w-85 m-auto"
            [class.card-disabled]="userForm.invalid" (click)="comprobarDatos(content)">
            <a _ngcontent-blt-c4="">{{ 'ADD_UPDATE_USER.BTN_GUARDAR' | translate }}</a>
          </div>
        </div>

        <div _ngcontent-blt-c4="" class="col-4">
          <div _ngcontent-blt-c4=""
            class="secondary-button border-curve bajarmedia eval-ant mat-elevation-z5 w-85 m-auto" (click)="volver()">
            <a _ngcontent-blt-c4="">{{ 'ADD_UPDATE_USER.BTN_BACK' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<br />
<ng-template #content let-cl="close" let-di="dismiss">
  <div class="modal-content border-0">
    <div class="modal-header custom-modal-header border-curve">
      <h5 class="modal-title">{{ 'ADD_UPDATE_USER.MODAL_HEADER' | translate }}</h5>
    </div>
    <div class="modal-body">
      <p>{{ 'ADD_UPDATE_USER.MODAL_BODY' | translate }}</p>
    </div>
    <div class="container-fluid p-3 bt-1">
      <div class="row p-0">
        <div class="col">
          <button type="button" class="main-button mat-elevation-z4 w-100 modal-btns border-curve"
            (click)="di('Finish');">{{ 'ADD_UPDATE_USER.MODAL_BTN_ACEPT' | translate }}</button>
        </div>
        <div class="col">
          <button type="button" class="secondary-button mat-elevation-z4 w-100 modal-btns border-curve"
            (click)="cl('Cerrar')">{{ 'ADD_UPDATE_USER.MODAL_BTN_CANCEL' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>