 <br> <br>
 <div class="row" id="infopro">
  
  <div class="col-xs-12 col-sm-5 col-md-5">
      Usuario:
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5">
      Fecha:
  </div>
 
  <div class="col-xs-12 col-sm-5 col-md-5">

      <div class="form-horizontal">
          <div class="form-group">
          <label for="sel1">Proyecto:</label>
          <select class="form-control form-control-sm">
              <option *ngFor="let proyecto of ListaDeProyectos">{{proyecto.nombre}}</option>
          </select>
          </div>
      </div>
      
  </div>
</div>
<br> <br> 


<div class="row" >
  <div class="col-xs-12 col-sm-12 col-md-1"></div>
  <div class="col-xs-12 col-sm-12 col-md-5">
    <div class="titulo" routerLink="/menunuevaevaluacion">
      <a>Nueva Evaluaci&oacute;n</a>
    </div>
  </div>


  
  <div class="col-xs-12 col-sm-12 col-md-5">
   
    <div class="titulo" routerLink="/evaluacionprevia">
        <a>Evaluaciones Anteriores</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-1"></div>
</div>