<div class="row" id="infopro">
  <div class="col-xs-1 col-sm-1 col-md-1"></div>
  <div class="col-xs-12 col-sm-5 col-md-5">
      Usuario:
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5">
      Fecha:
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1"></div>
</div>
<br/>


<div class="row" >
  <div class="col-xs-12 col-sm-12 col-md-1"></div>
  <div class="col-xs-12 col-sm-12 col-md-5">
    <div class="titulo">
      <a routerLink="/nuevaevaluacion">Nueva Evaluaci&oacute;n</a>
    </div>
  </div>


  
  <div class="col-xs-12 col-sm-12 col-md-5">
      <br/>
    <div class="titulo">
        <a>Evaluaciones Anteriores</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-1"></div>
</div>